<div class="jumbotron">
    <h1>eByggesak API</h1>
    <p class="lead">eByggesak test for eksempel API og data. Rotnivå nåes på <a href="/api">API</a></p>
    <p><a href="http://www.ks.no/ebyggesak" class="btn btn-primary btn-lg">Les mer om prosjektet på KS KommIT eByggesak</a></p>
</div>
<div class="row">
    <p>Kildekoden kan lastes ned på <a href="https://github.com/Arkitektum/ebyggesak">GitHub</a></p>
</div>
